h1{
    color:blue;
    background-color: aqua;
    
}
body{
    background-color: bisque;
}
button{
    color: brown;
}
#box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
#box2{
    height: 150px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}